<!DOCTYPE html>
<html>
  <head>
    <title>Flatco</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class ="topnav">
        <%= link_to "FlatCo.", homepage_path %>
        <%= link_to "Dev list", devs_path %>
        <%= link_to "Project list", projects_path %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
